body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	background: black;
	color: white;
 
}

*,::before,::after{
	box-sizing: border-box;
}

*:focus{
	outline: none;
}

img{
	width: 100%;
}
.home img{
	width: 100%;
	max-height: 900px;
	-webkit-filter: grayscale(100%)contrast(100%);
	filter:grayscale(100%) contrast(200%) brightness(60%);

}

.portfolio img{
	filter:grayscale(100%);
}
 
aside{
	position: fixed;
	background: #222;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 150px;
	overflow: none;
	z-index: 1;
	text-align: center;
	padding: 0px;
}
aside img{
	filter: grayscale(100%) contrast(50%) brightness(100%);
	margin-bottom: -3px;
}
aside a{
	display: block;
	padding: 20px 0;
	color: orange;
	transition: all 0.35s;
	text-transform: uppercase;
	font-size: 0.95em;
	letter-spacing: 2px;
	text-decoration: none;
}

aside p{
	margin: 0;
	padding: 0;
}

aside a:hover{
	background: #000;
}

aside nav a:nth-child(2){
	background: #000;
}
aside nav a:nth-child(2):hover{
	background: #b2b2b2;
	color: #222;
}

main{
	max-width: 980px;
	background: #000;
	margin-left: 18%;
	padding: 12px 50px 12px 50px;
}

h1{
	color: orange;
}


header{
	text-align: center;
	letter-spacing: 2px;

}

header h1{
	font-weight: bold;
	font-size: 3em;
	letter-spacing: 3px;
}

header h5{
	font-weight: 300;
	font-size: 1.3em;
	letter-spacing: 3px;
	color: #b2b2b2;
}

.about, .portfolio, .contact{
	line-height: 1.5em;
	letter-spacing: 1px;
	font-weight: 300;
}

.about h2, .portfolio h2, .contact h2{
   font-weight: 300;
   text-transform: uppercase;
   text-decoration: none;
   padding-bottom: 10px;
   margin: 100px 0 0 0;
   letter-spacing: 4px;
   font-size: 30px;
}

.about p{
	color: #b2b2b2;
	font-size: 18px;

}

.about span{
	font-weight: 600;
	color: orange;
}
.about h3{
	  font-weight: 300;
	  margin: 50px 0;
	  font-size: 22px;
}

.container{
	width: 100%;
	background-color: orange;
}
.container1{
	width: 100%;
	background-color: transparent;
}

.skills{
	text-align: right;
	padding-right: 30px;
	line-height: 30px;
	color: white;
	background-color: #424242;
}

.html{
	width: 95%;

}

.wordpress{
	width: 91%;
}

.css{
	width: 90%;
}

.js{
	width: 70%;
}
.php{
	width: 60%;
}

.portfolio h3{
	color: white;
	font-weight: 300;
	letter-spacing: 2px;
}
.portfolio p{
	font-size: 0.875em;
}

.row-halves{
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	margin: 20px 0;
	-webkit-flex-pack:justify;

}
.row-halves .col{
  width: 49%;
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}
.business{
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.col{
	border: 1px solid #222;
	background: #222;
	color: #b2b2b2;
	padding: 10px;
}

.row-halves:hover .col {
  opacity: 0.3;
}

.row-halves:hover .business {
  opacity: 1;
}

.business {
  background-color: white;
  color: black;
  font-size: 16px;
  padding: 16px 32px;
}


















label{
	color: #b2b2b2;
}

form input[type="text"],
select, 
textarea{
	width: 100%;
	padding: 12px;
	border: none;
	border: 1px solid orange;
	background: transparent;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
	color: #b2b2b2;
}
section{
	width: 1000px;
	margin-left: 220px;
}

form input[type="text"]:focus;
textarea:focus{
	outline: none;
	border: 1px solid #009688;
}
input[type="submit"]{
	background-color: transparent;
	color: #b2b2b2;
	text-transform: uppercase;
	padding:12px 20px;
	border:1px solid #222;
	cursor: pointer;
	transition: all 0.35s;
}
input[type="submit"]{
	background-color: transparent;
	color: #b2b2b2;
	text-transform: uppercase;
	padding: 12px 20px;
	border:1px solid #222;
	cursor: pointer;
	transition: all 0.35s;
}

input[type="submit"]:hover{
	background-color: #b2b2b2;
	color: #222;
	}
.contact .container1{
	margin-top:20px;
	margin-bottom: 100px;
	background-color: transparent;
	padding: 20px 0;
}
.footer{
	border-top: 1px solid #222;
}
.top-bar {
	padding: 20px 0;
	text-align: center;
}
	.top-bar a{
	margin: 10px;
	font-size: 2em;
	color: #b2b2b2;
	transition: all 0.35s;
	display: inline-block;
	}
.top-bar a:hover{
	transform: scald(1.1);
	color: #009688;
}
.bottom-bar{
	background: #000;
	font-size: 0.75em;
	text-align: center;
}
@media (max-width: 768px){
	.row-halves{
		display: block;
	}
	.row-halves.col{
		width: 100%;
		margin: 0 0 10px 0;
	}
}

@media (max-width: 601px){
	aside{
		display: none ;
	}
	main{
		width: 100%;
		margin: 0 auto;
		padding: 12px 25px;
	}

	header{
		margin-top: 80px; 
	}

	header h1{
		font-size: 3em;
		line-height: 1.4em;
	}
	header h5{
		font-size: 1em;
		letter-spacing: 2px;
	}

	.mobile-nav{
		position: fixed;
		width: 100%;
		display: flex;
		justify-content: space-around;
		background: rgba(0,0,0,8);
		z-index: 1;
	}

	.mobile-nav a{
		width: 100%;
		color: #b2b2b2;
		text-transform: uppercase;
		font-size: 0.875em;
		letter-spacing: 2px;
		text-align: center;
		padding: 10px 10px;
		transition: all 0.35s;
	}

	.mobile-nav a:hover{
		background-color: #b2b2b2;
		color: #222;
	}
}
@media (min-width:600px){
	.mobile-nav{
		display: none;
	}
}
